<div style="text-align: center">
    <h1>계산기</h1>
    쉽고 빠르게 사칙연산을 도와드립니다٩( ᐛ )و
    <br><br>
    <form action="result">
        <input type = "text" name="number1">
        <select name="operator">
            <option value="addition">+</option>
            <option value="subtraction">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
        </select>
        <input type="text" name="number2">
        <input type="submit" value="계산">
    </form>
</div>